<style>
  .game-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 70px); /* Ajusta esto según la altura de la navbar */
    margin-top: 70px; /* Añade un margen superior para evitar la superposición con la navbar */
  }

  #unity-container {
    width: 960px;
    height: 600px;
  }
</style>

